.NavBar {
  border: 1px solid navy;

  ul {
    display: flex;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 0.5rem;
      font-size: 1.1em;
      border: 1px solid navy;
      padding: 1em;
    }
  }
}