@mixin Section {
  padding: 1em;
  border: 1px solid blue;
  margin-bottom: 1em;

  h2 {
    margin-top: 0;
  }
}

.LinkedListExample {
  .LinkedListDemo {
    @include Section;

    .LinkedList {}
  }

  .RawData {
    @include Section;
  }
}